.card-class {
  margin-top: 5px;
  width: 80%;
  margin-left: 10%;
}

.card-class .title {
  border: 1px solid rgba(57, 57, 57, 0.55) !important;
  padding: 5px;
}

.card-class .title:hover {
  border: 2px solid rgba(33, 118, 46, 0.55) !important;
}

.paginate-class {
  margin-top: 20px;
}

.text-error {
  color: #ef2146 !important;
  font-size: 12px !important;
}

input:focus {
  outline: none !important;
  /* border: 1px solid red !important; */
  box-shadow: 0 0 5px #0c5c37 !important;
}

.custom-nav-link {
  font-size: 14px !important;
  font-weight: bold !important;
  /* text-transform: uppercase !important; */
  padding: 10px !important;
  border-radius: 0 !important;
}

.color-iCoin {
  color: #00b661;
}

/* override */
.offcanvas-body {
  padding: 0 !important;
}

.bg-navbar {
  margin: 2px 0 !important;
  background: #2a212140 !important;
}

.bg-navbar:hover {
  margin: 2px 0 !important;
  background: #3c3a3a40 !important;
}

.tr-header-table {
  color: #00b661;
}

.pagination-custom button {
  font-size: 12px;
  border: 0px;
  padding: 5px 12px;
}
.pagination-custom select {
  width: 100px;
}

.bg-non-active {
  background-color: #115334;
}

.accordion-item {
  border: 0px !important;
}

.accordion-header {
  border-bottom: 0.5px solid #5c5c5c61;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #7ef7bf46 !important;
}

.accordion-button::after {
  /* display: none; */
}

/* .accordion-header button:hover ~ .accordion-button::after {
  display: block;
} */
