.card-class{
  margin-top: 5px;
  width: 400px;
}

.card-class .title{
  border: 1px solid rgb(57, 57, 57) !important;
  padding: 5px;
}

.paginate-class {
  margin-top: 20px;
}

.text-error{
  color: #ef2146!important;
  font-size: 12px !important;
}